## Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

2023-12-25 17:26:18.001076: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-25 17:26:18.054934: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-25 17:26:18.056344: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-25 17:26:19.137872: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [11]:
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [12]:
model=regression_model()

2023-12-25 17:26:20.760278: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-12-25 17:26:20.761125: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1960] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [13]:
# define regression model
def mse():
    # create model
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=1)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    print("MSE "+str(i+1)+": "+str(MSE))
    return mean_square_error

In [14]:
total_mean_squared_errors = 50
mean_square_error=[]
for i in range(0,total_mean_squared_errors):
    mean_square_error.append(mse())

10/10 [==============================] - 0s 1ms/step
MSE 1: 151.3411407470703
10/10 [==============================] - 0s 1ms/step
MSE 2: 132.74720764160156
10/10 [==============================] - 0s 1ms/step
MSE 3: 113.46696472167969
10/10 [==============================] - 0s 1ms/step
MSE 4: 81.84496307373047
10/10 [==============================] - 0s 1ms/step
MSE 5: 56.643550872802734
10/10 [==============================] - 0s 1ms/step
MSE 6: 45.1674919128418
10/10 [==============================] - 0s 891us/step
MSE 7: 40.660037994384766
10/10 [==============================] - 0s 1ms/step
MSE 8: 38.68856430053711
10/10 [==============================] - 0s 1ms/step
MSE 9: 37.45655059814453
10/10 [==============================] - 0s 973us/step
MSE 10: 37.928340911865234
10/10 [==============================] - 0s 2ms/step
MSE 11: 37.29151153564453
10/10 [==============================] - 0s 1ms/step
MSE 12: 38.132057189941406
10/10 [==============================] - 0s 1ms/step
MSE 13: 37.99961471557617
10/10 [==============================] - 0s 1ms/step
MSE 14: 36.983795166015625
10/10 [==============================] - 0s 959us/step
MSE 15: 37.2606315612793
10/10 [==============================] - 0s 1ms/step
MSE 16: 37.22797393798828
10/10 [==============================] - 0s 1ms/step
MSE 17: 37.092933654785156
10/10 [==============================] - 0s 871us/step
MSE 18: 37.243934631347656
10/10 [==============================] - 0s 990us/step
MSE 19: 36.9709358215332
10/10 [==============================] - 0s 1ms/step
MSE 20: 36.62760543823242
10/10 [==============================] - 0s 899us/step
MSE 21: 36.763336181640625
10/10 [==============================] - 0s 913us/step
MSE 22: 36.94532012939453
10/10 [==============================] - 0s 1ms/step
MSE 23: 37.418968200683594
10/10 [==============================] - 0s 1ms/step
MSE 24: 36.50786209106445
10/10 [==============================] - 0s 954us/step
MSE 25: 36.561580657958984
10/10 [==============================] - 0s 986us/step
MSE 26: 37.26924514770508
10/10 [==============================] - 0s 1ms/step
MSE 27: 37.44088363647461
10/10 [==============================] - 0s 1ms/step
MSE 28: 36.39414596557617
10/10 [==============================] - 0s 1ms/step
MSE 29: 36.399696350097656
10/10 [==============================] - 0s 1ms/step
MSE 30: 36.04826736450195
10/10 [==============================] - 0s 1ms/step
MSE 31: 36.269161224365234
10/10 [==============================] - 0s 1ms/step
MSE 32: 35.90253829956055
10/10 [==============================] - 0s 1ms/step
MSE 33: 36.5293083190918
10/10 [==============================] - 0s 1ms/step
MSE 34: 37.196372985839844
10/10 [==============================] - 0s 1ms/step
MSE 35: 36.44731140136719
10/10 [==============================] - 0s 991us/step
MSE 36: 37.127132415771484
10/10 [==============================] - 0s 1ms/step
MSE 37: 38.191463470458984
10/10 [==============================] - 0s 1ms/step
MSE 38: 38.09870147705078
10/10 [==============================] - 0s 1ms/step
MSE 39: 36.54189682006836
10/10 [==============================] - 0s 1ms/step
MSE 40: 37.10929870605469
10/10 [==============================] - 0s 937us/step
MSE 41: 37.399906158447266
10/10 [==============================] - 0s 1ms/step
MSE 42: 36.72211456298828
10/10 [==============================] - 0s 1ms/step
MSE 43: 38.030357360839844
10/10 [==============================] - 0s 1ms/step
MSE 44: 36.63417434692383
10/10 [==============================] - 0s 1ms/step
MSE 45: 36.51472091674805
10/10 [==============================] - 0s 1ms/step
MSE 46: 36.47401428222656
10/10 [==============================] - 0s 1ms/step
MSE 47: 36.76690673828125
10/10 [==============================] - 0s 1ms/step
MSE 48: 36.81623458862305
10/10 [==============================] - 0s 899us/step
MSE 49: 36.322513580322266
10/10 [==============================] - 0s 2ms/step
MSE 50: 36.610984802246094

In [15]:
mean_square_error

[151.34113320283572,
 132.74720748516663,
 113.4669657673358,
 81.84496388203273,
 56.643552424095084,
 45.16749217362395,
 40.6600413171757,
 38.68856587315307,
 37.4565522328729,
 37.92834220038992,
 37.29151475126204,
 38.132058025540566,
 37.999617541769794,
 36.983797296867756,
 37.260634274665705,
 37.22797503813298,
 37.09293507406746,
 37.243936900674065,
 36.970938664003945,
 36.627608658141554,
 36.76333670961535,
 36.94532614132956,
 37.418966074174115,
 36.507863015131484,
 36.56158335387907,
 37.26924575344606,
 37.44088472672621,
 36.39414562821191,
 36.3996972647541,
 36.048264486474494,
 36.26916327299028,
 35.90254325203959,
 36.5293096923841,
 37.196370553405444,
 36.447315270597905,
 37.127137020512784,
 38.19146130670296,
 38.09870521269143,
 36.54189686254714,
 37.10930040994382,
 37.39990847997954,
 36.72211611264059,
 38.03035604902578,
 36.634177527277565,
 36.514725126367374,
 36.47401621679754,
 36.76690527347349,
 36.8162352040693,
 36.32251265233206,
 36.610988193334684]