## Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

2023-12-25 17:22:54.240317: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-25 17:22:54.289268: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-25 17:22:54.289974: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-25 17:22:55.272557: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [11]:
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [12]:
model=regression_model()

2023-12-25 17:22:56.599527: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-12-25 17:22:56.600243: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1960] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [13]:
# define regression model
def mse():
    # create model
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=1)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    print("MSE "+str(i+1)+": "+str(MSE))
    return mean_square_error

In [14]:
total_mean_squared_errors = 50
mean_square_error=[]
for i in range(0,total_mean_squared_errors):
    mean_square_error.append(mse())

10/10 [==============================] - 0s 1ms/step
MSE 1: 594.6847534179688
10/10 [==============================] - 0s 1ms/step
MSE 2: 229.4729461669922
10/10 [==============================] - 0s 995us/step
MSE 3: 157.91712951660156
10/10 [==============================] - 0s 1ms/step
MSE 4: 110.16044616699219
10/10 [==============================] - 0s 1ms/step
MSE 5: 80.8614273071289
10/10 [==============================] - 0s 1ms/step
MSE 6: 64.05662536621094
10/10 [==============================] - 0s 1ms/step
MSE 7: 54.775150299072266
10/10 [==============================] - 0s 1ms/step
MSE 8: 51.07808303833008
10/10 [==============================] - 0s 1ms/step
MSE 9: 48.4940299987793
10/10 [==============================] - 0s 1ms/step
MSE 10: 47.06917953491211
10/10 [==============================] - 0s 1ms/step
MSE 11: 46.13596725463867
10/10 [==============================] - 0s 955us/step
MSE 12: 45.443946838378906
10/10 [==============================] - 0s 1ms/step
MSE 13: 45.103397369384766
10/10 [==============================] - 0s 1ms/step
MSE 14: 44.82197952270508
10/10 [==============================] - 0s 1ms/step
MSE 15: 44.67478942871094
10/10 [==============================] - 0s 912us/step
MSE 16: 44.29846954345703
10/10 [==============================] - 0s 1ms/step
MSE 17: 44.096839904785156
10/10 [==============================] - 0s 1ms/step
MSE 18: 44.00933837890625
10/10 [==============================] - 0s 909us/step
MSE 19: 43.652137756347656
10/10 [==============================] - 0s 1ms/step
MSE 20: 43.28303146362305
10/10 [==============================] - 0s 1ms/step
MSE 21: 43.15020751953125
10/10 [==============================] - 0s 1ms/step
MSE 22: 42.779335021972656
10/10 [==============================] - 0s 1ms/step
MSE 23: 42.541839599609375
10/10 [==============================] - 0s 2ms/step
MSE 24: 42.32468795776367
10/10 [==============================] - 0s 1ms/step
MSE 25: 42.250083923339844
10/10 [==============================] - 0s 1ms/step
MSE 26: 42.044132232666016
10/10 [==============================] - 0s 1ms/step
MSE 27: 41.71714782714844
10/10 [==============================] - 0s 1ms/step
MSE 28: 41.53214645385742
10/10 [==============================] - 0s 1ms/step
MSE 29: 41.659908294677734
10/10 [==============================] - 0s 1ms/step
MSE 30: 41.1956901550293
10/10 [==============================] - 0s 981us/step
MSE 31: 41.31161117553711
10/10 [==============================] - 0s 1ms/step
MSE 32: 41.021522521972656
10/10 [==============================] - 0s 1ms/step
MSE 33: 40.953243255615234
10/10 [==============================] - 0s 1ms/step
MSE 34: 40.825538635253906
10/10 [==============================] - 0s 1ms/step
MSE 35: 40.70899200439453
10/10 [==============================] - 0s 910us/step
MSE 36: 40.57867431640625
10/10 [==============================] - 0s 1ms/step
MSE 37: 40.62201690673828
10/10 [==============================] - 0s 1ms/step
MSE 38: 40.3554573059082
10/10 [==============================] - 0s 1ms/step
MSE 39: 40.224693298339844
10/10 [==============================] - 0s 1ms/step
MSE 40: 40.0081672668457
10/10 [==============================] - 0s 1ms/step
MSE 41: 40.04218673706055
10/10 [==============================] - 0s 1ms/step
MSE 42: 39.87456512451172
10/10 [==============================] - 0s 1ms/step
MSE 43: 40.06498336791992
10/10 [==============================] - 0s 1ms/step
MSE 44: 40.058082580566406
10/10 [==============================] - 0s 911us/step
MSE 45: 40.04001235961914
10/10 [==============================] - 0s 1ms/step
MSE 46: 40.08460235595703
10/10 [==============================] - 0s 1ms/step
MSE 47: 40.02277374267578
10/10 [==============================] - 0s 981us/step
MSE 48: 39.93564987182617
10/10 [==============================] - 0s 2ms/step
MSE 49: 39.905155181884766
10/10 [==============================] - 0s 924us/step
MSE 50: 39.662357330322266

In [15]:
mean_square_error

[594.6847384673105,
 229.47291639718142,
 157.917141510358,
 110.16044899400268,
 80.86143081427389,
 64.05662040035197,
 54.775149954359414,
 51.078083416724205,
 48.49403257411465,
 47.06917885547867,
 46.13596744139052,
 45.44395072818968,
 45.10339649962905,
 44.82198337833135,
 44.67479043953546,
 44.29847137960617,
 44.0968422838247,
 44.00933604396258,
 43.65214240208722,
 43.28303749865543,
 43.150205980467646,
 42.7793353552685,
 42.54184213025152,
 42.32468914719814,
 42.25008246323494,
 42.044136438779404,
 41.71715640539562,
 41.53214693264025,
 41.65991415767139,
 41.19569260026467,
 41.31161419405099,
 41.02151912122647,
 40.953243186024956,
 40.82554243966071,
 40.70899375653949,
 40.57867675504592,
 40.62201625122616,
 40.35545417091552,
 40.22469394607245,
 40.008166184116114,
 40.04218613372587,
 39.874568778120285,
 40.06498379929378,
 40.05808089132794,
 40.040018106931456,
 40.08460468027253,
 40.022778775311004,
 39.935650260929336,
 39.90515830233711,
 39.66235840007474]