## Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

2023-12-25 17:20:44.935770: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-25 17:20:44.987264: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-25 17:20:44.988043: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-25 17:20:45.840209: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [11]:
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [12]:
model=regression_model()

2023-12-25 17:20:47.194522: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-12-25 17:20:47.195215: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1960] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [13]:
# define regression model
def mse():
    # create model
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=1)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    print("MSE "+str(i+1)+": "+str(MSE))
    return mean_square_error

In [14]:
total_mean_squared_errors = 50
mean_square_error=[]
for i in range(0,total_mean_squared_errors):
    mean_square_error.append(mse())

10/10 [==============================] - 0s 1ms/step
MSE 1: 378.1119689941406
10/10 [==============================] - 0s 1ms/step
MSE 2: 153.859375
10/10 [==============================] - 0s 1ms/step
MSE 3: 121.93347930908203
10/10 [==============================] - 0s 1ms/step
MSE 4: 98.92430114746094
10/10 [==============================] - 0s 1ms/step
MSE 5: 85.82618713378906
10/10 [==============================] - 0s 1ms/step
MSE 6: 63.4069709777832
10/10 [==============================] - 0s 1ms/step
MSE 7: 66.45011138916016
10/10 [==============================] - 0s 1ms/step
MSE 8: 60.85572052001953
10/10 [==============================] - 0s 1ms/step
MSE 9: 56.20220184326172
10/10 [==============================] - 0s 1ms/step
MSE 10: 63.08306121826172
10/10 [==============================] - 0s 1ms/step
MSE 11: 55.91554260253906
10/10 [==============================] - 0s 987us/step
MSE 12: 56.94751739501953
10/10 [==============================] - 0s 940us/step
MSE 13: 54.482421875
10/10 [==============================] - 0s 1ms/step
MSE 14: 55.94895935058594
10/10 [==============================] - 0s 2ms/step
MSE 15: 54.37495040893555
10/10 [==============================] - 0s 1ms/step
MSE 16: 54.272579193115234
10/10 [==============================] - 0s 1ms/step
MSE 17: 54.27865219116211
10/10 [==============================] - 0s 907us/step
MSE 18: 54.28093338012695
10/10 [==============================] - 0s 1ms/step
MSE 19: 54.67557144165039
10/10 [==============================] - 0s 978us/step
MSE 20: 54.7835578918457
10/10 [==============================] - 0s 1ms/step
MSE 21: 54.27919387817383
10/10 [==============================] - 0s 1ms/step
MSE 22: 57.133506774902344
10/10 [==============================] - 0s 1ms/step
MSE 23: 55.14170455932617
10/10 [==============================] - 0s 1ms/step
MSE 24: 57.815589904785156
10/10 [==============================] - 0s 1ms/step
MSE 25: 54.731807708740234
10/10 [==============================] - 0s 1ms/step
MSE 26: 54.941349029541016
10/10 [==============================] - 0s 1ms/step
MSE 27: 54.657230377197266
10/10 [==============================] - 0s 1ms/step
MSE 28: 53.9629020690918
10/10 [==============================] - 0s 913us/step
MSE 29: 55.505130767822266
10/10 [==============================] - 0s 2ms/step
MSE 30: 53.742218017578125
10/10 [==============================] - 0s 1ms/step
MSE 31: 56.71879959106445
10/10 [==============================] - 0s 1ms/step
MSE 32: 54.09505081176758
10/10 [==============================] - 0s 1ms/step
MSE 33: 52.69147872924805
10/10 [==============================] - 0s 1ms/step
MSE 34: 52.58890914916992
10/10 [==============================] - 0s 1ms/step
MSE 35: 53.39839172363281
10/10 [==============================] - 0s 1ms/step
MSE 36: 51.879119873046875
10/10 [==============================] - 0s 1ms/step
MSE 37: 51.47871780395508
10/10 [==============================] - 0s 1ms/step
MSE 38: 52.94301223754883
10/10 [==============================] - 0s 874us/step
MSE 39: 51.552406311035156
10/10 [==============================] - 0s 979us/step
MSE 40: 51.778438568115234
10/10 [==============================] - 0s 908us/step
MSE 41: 53.75498580932617
10/10 [==============================] - 0s 2ms/step
MSE 42: 51.832454681396484
10/10 [==============================] - 0s 1ms/step
MSE 43: 51.3577880859375
10/10 [==============================] - 0s 1ms/step
MSE 44: 51.395965576171875
10/10 [==============================] - 0s 1ms/step
MSE 45: 52.27140808105469
10/10 [==============================] - 0s 911us/step
MSE 46: 51.0309944152832
10/10 [==============================] - 0s 1ms/step
MSE 47: 50.78513717651367
10/10 [==============================] - 0s 900us/step
MSE 48: 51.59078598022461
10/10 [==============================] - 0s 1ms/step
MSE 49: 52.84314727783203
10/10 [==============================] - 0s 1ms/step
MSE 50: 50.582611083984375

In [15]:
mean_square_error

[378.1120079620106,
 153.85937764462875,
 121.9334647701945,
 98.92430566544938,
 85.82617647516027,
 63.4069762178323,
 66.45011946934417,
 60.85572514546876,
 56.20220418864141,
 63.083062457760775,
 55.91554272703555,
 56.94751912696517,
 54.482425620104166,
 55.94895622663619,
 54.374945685225065,
 54.2725799754136,
 54.278659912972465,
 54.28093127479971,
 54.675572630562684,
 54.78355411359968,
 54.279193568967976,
 57.13350890542784,
 55.14171434011004,
 57.81559347581126,
 54.73181060712013,
 54.941355712114785,
 54.65723254183643,
 53.96290063011394,
 55.50512698907758,
 53.74221646263969,
 56.7188013740676,
 54.095045132543625,
 52.69147367382719,
 52.5889106429693,
 53.398400948111394,
 51.879115500888986,
 51.478716953706076,
 52.9430129228202,
 51.55240401736259,
 51.77843507211859,
 53.754986097847535,
 51.83245627024774,
 51.35779236489797,
 51.3959660998739,
 52.271406403941675,
 51.03099199730921,
 50.78513840767206,
 51.590789230635444,
 52.84314552205811,
 50.58260511468237]