## Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

2023-12-25 17:25:24.156608: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-25 17:25:24.209042: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-25 17:25:24.209969: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-25 17:25:25.086442: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [11]:
def regression_model():
    model = Sequential()
    model.add(Dense(100, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [12]:
model=regression_model()

2023-12-25 17:25:26.474483: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-12-25 17:25:26.475352: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1960] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [13]:
# define regression model
def mse():
    # create model
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=1)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    print("MSE "+str(i+1)+": "+str(MSE))
    return mean_square_error

In [14]:
total_mean_squared_errors = 50
mean_square_error=[]
for i in range(0,total_mean_squared_errors):
    mean_square_error.append(mse())

10/10 [==============================] - 0s 940us/step
MSE 1: 152.08189392089844
10/10 [==============================] - 0s 1ms/step
MSE 2: 77.92963409423828
10/10 [==============================] - 0s 1ms/step
MSE 3: 56.71213912963867
10/10 [==============================] - 0s 847us/step
MSE 4: 47.66011047363281
10/10 [==============================] - 0s 1ms/step
MSE 5: 42.8970832824707
10/10 [==============================] - 0s 1ms/step
MSE 6: 40.3565559387207
10/10 [==============================] - 0s 929us/step
MSE 7: 37.78404235839844
10/10 [==============================] - 0s 961us/step
MSE 8: 36.31489181518555
10/10 [==============================] - 0s 907us/step
MSE 9: 34.68027114868164
10/10 [==============================] - 0s 952us/step
MSE 10: 33.15505599975586
10/10 [==============================] - 0s 848us/step
MSE 11: 32.63622283935547
10/10 [==============================] - 0s 937us/step
MSE 12: 31.37082862854004
10/10 [==============================] - 0s 1ms/step
MSE 13: 30.665918350219727
10/10 [==============================] - 0s 1ms/step
MSE 14: 30.381839752197266
10/10 [==============================] - 0s 1ms/step
MSE 15: 30.48888397216797
10/10 [==============================] - 0s 1ms/step
MSE 16: 30.039770126342773
10/10 [==============================] - 0s 2ms/step
MSE 17: 29.892112731933594
10/10 [==============================] - 0s 936us/step
MSE 18: 29.70969009399414
10/10 [==============================] - 0s 872us/step
MSE 19: 29.68270492553711
10/10 [==============================] - 0s 1ms/step
MSE 20: 29.63276481628418
10/10 [==============================] - 0s 981us/step
MSE 21: 29.572376251220703
10/10 [==============================] - 0s 892us/step
MSE 22: 29.441680908203125
10/10 [==============================] - 0s 924us/step
MSE 23: 29.751270294189453
10/10 [==============================] - 0s 942us/step
MSE 24: 29.664785385131836
10/10 [==============================] - 0s 817us/step
MSE 25: 29.927715301513672
10/10 [==============================] - 0s 1ms/step
MSE 26: 29.717485427856445
10/10 [==============================] - 0s 1ms/step
MSE 27: 29.49376106262207
10/10 [==============================] - 0s 909us/step
MSE 28: 30.432039260864258
10/10 [==============================] - 0s 976us/step
MSE 29: 29.586929321289062
10/10 [==============================] - 0s 831us/step
MSE 30: 30.053688049316406
10/10 [==============================] - 0s 2ms/step
MSE 31: 29.889070510864258
10/10 [==============================] - 0s 851us/step
MSE 32: 30.276832580566406
10/10 [==============================] - 0s 2ms/step
MSE 33: 29.81462287902832
10/10 [==============================] - 0s 2ms/step
MSE 34: 29.984039306640625
10/10 [==============================] - 0s 1ms/step
MSE 35: 30.39779281616211
10/10 [==============================] - 0s 1ms/step
MSE 36: 30.113079071044922
10/10 [==============================] - 0s 1ms/step
MSE 37: 30.384714126586914
10/10 [==============================] - 0s 2ms/step
MSE 38: 30.147106170654297
10/10 [==============================] - 0s 1ms/step
MSE 39: 30.75860595703125
10/10 [==============================] - 0s 1ms/step
MSE 40: 29.6749210357666
10/10 [==============================] - 0s 1ms/step
MSE 41: 29.702972412109375
10/10 [==============================] - 0s 1ms/step
MSE 42: 29.694055557250977
10/10 [==============================] - 0s 1ms/step
MSE 43: 29.983762741088867
10/10 [==============================] - 0s 1ms/step
MSE 44: 29.906919479370117
10/10 [==============================] - 0s 1ms/step
MSE 45: 29.302349090576172
10/10 [==============================] - 0s 1ms/step
MSE 46: 29.696680068969727
10/10 [==============================] - 0s 1ms/step
MSE 47: 29.88979148864746
10/10 [==============================] - 0s 1ms/step
MSE 48: 29.45349884033203
10/10 [==============================] - 0s 1ms/step
MSE 49: 29.9824161529541
10/10 [==============================] - 0s 1ms/step
MSE 50: 29.812089920043945

In [15]:
mean_square_error

[152.08188203841982,
 77.9296356520796,
 56.71214398836333,
 47.660106853682954,
 42.89708325662112,
 40.35655773479756,
 37.78403616955761,
 36.31489646603918,
 34.680272815969175,
 33.155056410703736,
 32.636226601331636,
 31.37082445480656,
 30.665918752271985,
 30.381837711108172,
 30.488889440030494,
 30.039773070492867,
 29.89211547413216,
 29.70968866441194,
 29.68271175404903,
 29.63276443147451,
 29.57237751943095,
 29.441677209204595,
 29.7512709511953,
 29.664785609820324,
 29.927716721103664,
 29.71748657276806,
 29.493768264405947,
 30.43203872106407,
 29.586932689681078,
 30.053693206325082,
 29.889070226813676,
 30.27683409984022,
 29.814620124160946,
 29.98403513457713,
 30.397793299033186,
 30.1130824130078,
 30.384714423961494,
 30.147107893573875,
 30.758605815380648,
 29.674921280770995,
 29.702972221057273,
 29.69404997246417,
 29.983762645256682,
 29.906919601731133,
 29.302350203356237,
 29.696678596028857,
 29.889793539143618,
 29.453502536145034,
 29.98241465351914,
 29.812087905510513]